<!DOCTYPE html>
<html>
<head>
<script src="angular.js"></script>
<script src="sunstoneCtrl.js"></script>
<link rel="stylesheet" href="sunstone.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>
<body ng-app="sultanApp" ng-controller="sunstone">
    <div class="tab">
        <button class="tablinks" style="width: 12% !important;" ng-class ="{'active': selectTab == 1}"ng-click="selectTab=1;">Add Record</button>
        <button class="tablinks" style="width: 13% !important;" ng-class ="{'active': selectTab == 2}"ng-click="selectTab=2;getListing();">List Records</button>
        <span class="instructor">Sunstone Education</span>
    </div>
    <div ng-if="selectTab == 1">
        <div class="card-body tabBody">
            <div class="assignText"> Add Student/Faculty</div>
            <form id="addUser" ng-submit="addUser();">
                <div class="row register-form">
                    <div class="inputFields" style="margin-left: 18%;">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name" ng-model="registerItems.name" required/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Your Email" ng-model="registerItems.email" required/>
                        </div>
                        <div class="form-group">
                            <div style="display: inline-block;">User Type:</div>
                            <input style="margin-left:13%" type="radio" id="student" name="type" value="1" ng-model="registerItems.type">
                            <label for="student">Student</label>
                            <input style="margin-left:4%" type="radio" id="faculty" name="type" value="2" ng-model="registerItems.type">
                            <label for="faculty">Faculty</label><br>
                        </div>
                    </div>
                    <div class="inputFields" style="margin-left: 2%;">
                        <div class="form-group">
                            <input type="file" class="form-control" id='file' onchange="angular.element(this).scope().imageUpload(this.files)" required/>
                        </div>
                        <div class="form-group">
                            <span>Select Subject:</span>
                            <select class="selectpicker" multiple ng-model="registerItems.subject" required>
                                <option>English</option>
                                <option>Hindi</option>
                                <option>Maths</option>
                                <option>Computer</option>
                            </select>
                        </div>
                    </div>
                    <div class="inputFields" style="margin-left: 27%;margin-top: -27px;">
                        <input type="submit" class="btnRegister"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="selectTab == 2">
        <div class="card-body tabBody">
            <div class="assignListText" style="display: inline-block;">List of Students and Faculty</div>
            <div style="position: relative !important;height: 390px !important;overflow: auto !important;">
                <table class="table table-striped">
                    <thead class="tableBackground">
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Student/Faculty</th>
                        <th>Subject</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in usersListing">
                        <td>{{$index+1}}</td>
                        <td>{{s.name}}</td>
                        <td>{{s.email}}</td>
                        <td>{{s.subject}}</td>
                        <td>{{s.subject}}</td>
                        <td><a target="window" href="//{{s.file_path}}">Image</a></td>
                        <td><input type="button" value="Update" ng-click="updateUserPopUp(s.email,$index)"><input type="button" value="Delete" ng-click="deleteUser(s.email[$index],$index)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- update PopUp Starts -->
    <div class="hoverLay" ng-show="showUpdatePop">
        <div class="popup-box" style="height:281px; width:480px; border-radius: 20px;">
            <div class="innerBox">
                <form id="addUser" ng-submit="updateUser();">
                    <div class="row register-form">
                        <div class="inputFields" style="margin-left: 18%;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name" ng-model="registerItems.name" required/>
                            </div><br>
                            <div class="form-group" style="width: 202% !important;">
                                <div style="display: inline-block;">User Type:</div>
                                <input style="margin-left:13%" type="radio" id="student" name="type" value="1" ng-model="registerItems.type">
                                <label for="student">Student</label>
                                <input style="margin-left:4%" type="radio" id="faculty" name="type" value="2" ng-model="registerItems.type">
                                <label for="faculty">Faculty</label><br>
                            </div>
                        </div>
                        <div class="inputFields" style="margin-left: 2%;">
                            <div class="form-group">
                                <span>Select Subject:</span>
                                <select class="selectpicker" multiple ng-model="registerItems.subject" required>
                                    <option>English</option>
                                    <option>Hindi</option>
                                    <option>Maths</option>
                                    <option>Computer</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center" style="margin-left:23%">
                            <button type="button" class="okBtn"
                                ng-click="hideDialog()">Cancel</button>
                        </div>
                        <div class="inputFields" style="margin-top: -14px;">
                            <input type="submit" class="btnRegister"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- update PopUp Ends -->
</body>
</html>